<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>{% block title %}{% endblock %}</title>
        {% load static from staticfiles %}
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/first_page_modile.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/codehilite.css' %}">
        <script type="text/javascript" src="{% static 'js/set_root.js' %}"></script>
    </head>
    <body>
            {% block content %}{% endblock %}
            {% block footer %}{% endblock %}
    </body>
</html>