<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Album Papers</title>
        <meta name="author" content="FangHao">
        {% load static from staticfiles %}
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/wirte.css' %}">
        <script type="text/javascript" src="{% static 'js/showdown.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
        <script type="text/javascript">
            // 转换markdown格式展示
            function markdown(){
                    var text = $("#content").val();
                    var converter = new showdown.Converter();
                    var html = converter.makeHtml(text);
                    $("#result").html(html);
                }

            $(function(){
                var resultwh = $(document).height()-65,contentwh = $(document).height()-105;
                var $oBtnSave = $('#save'),$oBtnSubmit = $('#submit'),$oForm = $('#form'),$content = $('#content'),$arttitle = $('#arttitle');
                var hArray = window.location.href.split('/');
                var sLast = hArray[hArray.length-1];
                var bookid = null;                

                // 动态获取result这个div的高
                $('#result').css('height',resultwh);
                $('#content').css('height',contentwh);
                $('.mask-info').click(function(){
                            $('.pop').hide();
                        });
                $('#releasepop').click(function(){
                            $('.releasepop').hide();
                        });
                $('#notitle').click(function(){
                            $('.notitle').hide();
                        });
                $('#toolongtitle').click(function(){
                            $('.toolongtitle').hide();
                        });
                $('#savepop').click(function(){
                            $('.savepop').hide();
                        });

                // click事件发送发布POST
                function submitArticle(bookid){
                    var defer = $.Deferred();
                    $.ajax({
                        url:'/book/release_article/',
                        dataType:'json',
                        type:'POST',
                        data:{
                            content:$content.val(),
                            arttitle:$arttitle.val(),
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            bookid:bookid,
                        },
                    })
                    .done(function(dat){
                        defer.resolve(dat);
                    })
                    return defer;
                }

                // click事件发送发布POST
                function saveArticle(bookid){
                    var defer = $.Deferred();
                    $.ajax({
                        url:'/book/save_article/',
                        dataType:'json',
                        type:'POST',
                        data:{
                            content:$content.val(),
                            arttitle:$arttitle.val(),
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            bookid:bookid,
                        },
                    })
                    .done(function(dat){
                        defer.resolve(dat);
                    })
                    return defer;
                }

                // 重新设置按钮方法
                $oBtnSave.click(function(){
                    if ($arttitle.val() == ''){
                        $('.notitle').show();
                        return;
                    }
                    if ($arttitle.val().length > 40){
                        $('.toolongtitle').show();
                        return;
                    };
                    $.when(saveArticle(bookid))
                    .done(function(dat){
                        if(dat.status == 1){
                            bookid = dat.bookid
                            $('.savepop').show();
                        }
                        else if(dat.status ==2){
                            $('.notitle').show();
                        }
                        else if(dat.status ==3){
                            $('.toolongtitle').show();
                        }
                    })
                })

                // 发布按钮
                $oBtnSubmit.click(function(){
                    if ($arttitle.val() == ''){
                        $('.notitle').show();
                        return;
                    }
                    if ($arttitle.val().length > 40){
                        $('.toolongtitle').show();
                        return;
                    };
                    $.when(submitArticle(bookid))
                    .done(function(dat){
                        if(dat.status == 1){
                            $('.releasepop').show();
                        }
                        else if(dat.status ==2){
                            $('.notitle').show();
                        }
                        else if(dat.status ==3){
                            $('.toolongtitle').show();
                        }
                    })
                    .fail(function(){
                        alert('服务器超时');
                    })
                })
            })
        </script>
    </head>
    <body>

        <form action="" method="POST" id="form">
        {% csrf_token %}
            <div class="navbar navbar-default navbar-fixed-top">
                  <div class="container">
                    <div class="navbar-header">
                      <span class="navbar-brand" href="#">Hello! {{username}}</span>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'users:index' %}">Discover</a></li>
                        <li class="active"><a id="save">保存</a></li>
                        <li class="active"><a id="submit">发布</a></li>
                        <li class="active"><a href="{% url 'books:my_article' %}">我的文章</a></li>
                        <li class="active"><a href="{% url 'users:userinfo' username %}">返回</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
            <div class="container-write" id="container-write">
                    <!-- 文本输入区 -->
                    <div class="wirtearea">
                        <input type="text" name= "arttitle" class="arttitle" id="arttitle" placeholder="请输入文章标题" autofocus autocomplete="off"
                        value="{{title}}">
                        <textarea name="content" id="content" onkeyup="markdown()" placeholder="请输入文章正文">{{text}}{{content}}</textarea>
                    </div>
                    <!-- markdown展示区 -->
                    <div class="resultarea" id="result"></div> 
            </div>
        </form>
        <div class="savepop">
            <div class="mask">
            </div>
            <div class="mask-info" id="savepop">
                <span class="mask-title">保存成功</span>
            </div>
        </div>

        <div class="releasepop">
            <div class="mask">
            </div>
            <div class="mask-info" id="releasepop">
                <a class="mask-title" href="{% url 'users:userinfo' username %}">发布成功</a>
            </div>
        </div>

        <div class="notitle">
            <div class="mask">
            </div>
            <div class="mask-info" id="notitle">
                <span class="mask-title">请输入标题</span>
            </div>
        </div>

        <div class="toolongtitle">
            <div class="mask">
            </div>
            <div class="mask-info" id="toolongtitle">
                <span class="mask-title">标题不能超过40字符</span>
            </div>
        </div>

    </body>
</html>