/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

body{
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: #ddd;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background: url(/static/images/intro-bg.jpg); 
  background-size: 100% 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  padding-top: 130px;
}

@media (max-width: 769px){
  .site-wrapper-inner{
    vertical-align: top;
    padding-top: 70px;
  }
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox,{
  margin-bottom: 10px;
}

.check_message{
  margin-top: -5px;
  margin-bottom: 5px;
}

.form-signin .check_message{
  display: none;
}

.form-signin .title .form-signin-heading{
  font-family:Georgia, serif;
}

.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="username"] {
  margin-bottom: 10px;
  border-radius: 0px;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-radius: 0px;
}
.form-signin input[type="regispassword"] {
  margin-bottom: 10px;
  border-radius: 0px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 0px;
}

.form-signin input[type="confirmpasswd"] {
  border-radius: 0px;
}



.hreFregister a{
  text-decoration: none;
  /*color: #ddd;*/
}

.form-signin a{
  text-decoration: none;
}

.form-signin .title{
  padding-bottom: 40px;
}

.register-title{
  text-align: center;
  margin-bottom: 40px;
  margin-top: -20px;
}