<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="FangHao">
    {% load static from staticfiles %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    {% endblock %}
  </head>
<body>
{% block body %}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
        	{% block content %}{% endblock %}
            {% block footer %}{% endblock %}
        </div>
    </div>
{% endblock %}
</body>
</html>