{% extends 'users/base.html' %}
{% block title %}注册{% endblock %}

{% block content %}
    <div class="container">
      <form class="form-signin" action="{%url 'users:status'%}" method="POST">
        {% csrf_token %}
        <div class="title">
          <h1 class="form-signin-heading">Album Papers</h1>
        </div>
        <div class="register-title">
          {% if emailNotNull %}
          <h4>注册邮箱不能为空</h4>
          {% endif %}
          {% if userNotNull %}
          <h4>用户名不能为空</h4>
          {% endif %}
          {% if passwdNotNull %}
          <h4>密码不能为空</h4>
          {% endif %}
          {% if isconfirmpasswd %}
          <h4>两次输入密码不正确</h4>
          {% endif %}
          {% if isuserexist %}
          <h4>对不起{{ username }}用户已存在</h4>
          {% endif %}
          {% if isemailexist %}
          <h4>对不起{{ email }}已存在</h4>
          {% endif %}
          {% if registersucess %}
          <h4>注册成功</h4>
          {% endif %}
        </div>
          <input type="username" id="inputUser" class="form-control" name="username" placeholder="请输入用户名" autofocus>
        	<input type="email" id="inputEmail" class="form-control" name="email" placeholder="请输入注册邮箱地址">
       		<input type="password" id="inputPassword" class="form-control" name="passwd" placeholder="请输入密码">
        	<input type="password" id="inputPassword" class="form-control" name="confirmpasswd" placeholder="请重新输入密码">
        <div class="checkbox">
          <a href="{%url 'users:signin'%}">返回</a>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
      </form>
    </div> <!-- /container -->
{% endblock %}