{% extends 'users/base.html' %}
{% block title %}登录{% endblock %}
{% load static from staticfiles %}
{% block css %}
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/signin.css' %}" rel="stylesheet">
  <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
  <script type="text/javascript">
    $(function(){
      $('#email').blur(function(){
        $.post({
          url:'/user/registerEmail/',
          dataType:'json',
          type:'POST',
          data:{
              email:$('#email').val(),
              'csrfmiddlewaretoken': '{{ csrf_token }}',
          },
        })
        .done(function(dat){
            if(dat.status == 1){
                $('#email').next().children().html('此账户不存在');
                $('#email').next().show();
            }
        });
      });
    })
  </script>
{% endblock %}
{% block content %}
    <div class="container">
      <form class="form-signin" action="{%url 'users:login_handle'%}" method="POST">{% csrf_token %}
        <div class="title">
        <h1 class="form-signin-heading">Album Papers</h1>
        </div>
        <div class="register-title">
        {% if notExistEmail %}
        <h3>邮箱地址不存在</h3>
        {% endif %}
        {% if worngPasswd %}
        <h3>密码错误</h3>
        {% endif %}
        {% if notActive %}
        <h3>账户已失效</h3>
        {% endif %}
        {% if registersucess %}
        <h3>注册成功</h3>
        {% endif %}
      </div>
        <input type="username" id="email" class="form-control" name="email" placeholder="请输入邮箱地址" required autofocus>
        <div class="check_message">
          <span>提示信息</span>
        </div>
        <input type="password" id="password" class="form-control" name="passwd" placeholder="请输入密码" required>
        <div class="checkbox">
          <label class="hrefRegister">
          	<a href="{%url 'users:register'%}">没有账号？</a>
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>
    </div>
{% endblock %}