<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />  
    <title>Album Papers</title>
    {% load static from staticfiles %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/userinfo_mobile.css' %}">
    <script type="text/javascript" src="{% static 'js/set_root.js' %}"></script>
  </head>
<body>
    <div class="main_wapper">
        <div class="header">
            <a href="#">
                {% if avatarExist %}
                    <img src="/static/media/avatar/{{username}}.jpg" alt="{{username}}头像">
                {% else %}
                    <img src="/static/media/avatar/novavtar.jpg" alt="默认头像">
                {% endif %} 
                <span class="username">{{username}}</span>
                <span class="email">账号:{{email}}</span>
                <span class="icon"></span>
            </a>
        </div>
        <div class="center_con">
            <div class="center_nav">
                <a href="#" class="underline-nav-item"><span>Oveview</span></a>
            </div>
            <div class="js-pinned-repos-reorder-container">
                <h2 class="text-normal-h2">最近的文章</h2>
                <ol class="pinned-repos-list">
                {% for book in bookinfo %}
                    <li class="pinned-repo-item">
                        <span class="pinned-repo-item-content">
                            <span class="d-block">
                                <a href="{%url 'books:detail' book.id %}">{{book.btitle|slice:"20"}}</a>
                            </span>
                            <p class="d-block-text-gray">Forked from <a href="#">{{username}}</a></p>
                            <p class="pinned-repo-desc">{{book.bcontent|slice:"75"}}...</p>
                        </span>
                    </li>
                {% endfor %}
                </ol>
            </div>
        </div>
        <div class="footer">
            <ul>
                <li>
                  <a href="{%url 'users:index'%}"></a>
                  <p>Discover</p>
                </li>
                <li>
                  <a href="{% url 'books:wirte_article' %}"></a>
                  <p>写文章</p>
                </li>
                <li>
                  <a href="#"></a>
                  <p>我的文章</p>
                </li>
                <li>
                  <a href="javascript:history.back()"></a>
                  <p>返回</p>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>